.vscode/
rand
rand.cpp
test.cpp
test
test.py
test.so
.gitignore
project/shell/server/__pycache__/
project/shell/client/__pycache__/
project/shell/utils/__pycache__/
project/shell/client/client/__pycache__/
project/shell/client/mycloud/__pycache__/
project/shell/client/mycloud/migrations/__pycache__/
project/shell/client/db.sqlite3
project/shell/client/se/__pycache__