.header {
    background-color: #768dcb;
    color: #ACB1D6;
    color: #DBDFEA;
    color: #FFEAD2;
}

.container {
    color: #146C94;
    color: #19A7CE;
    color: #AFD3E2;
    color: #F6F1F1;
}