/* General styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
  height: 100%;
}

/* 主体 */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #DBDFEA, #fff);
    margin:0;
    padding: 0;
    height: 100%;
}

/* 外部div，包括标题，搜索框和图案*/
.search-image {
  display: flex;
  flex-direction: column; /* 子元素垂直排列 */
  align-items: center; /* 子元素在交叉轴（横轴）上居中对齐 */
  transform: scale(1); /* 回到原来大小 */
  transition: transform 0.5s ease-out; /* 缓慢回到原来的形状 */

}

/* 用来定义缩小后的search-image */
.small-search {
  transform: scale(0.5) translateY(-80%); /* 缩小到原来的50%并向上移动 */
  transition: transform 0.5s ease-out; /* 在0.5秒内平滑缩小 */
}

/* 放在一起方便修改，用来让文件点击文件跟着向上移动 */
.small-files {
  transform: translateY(-80%); /* 向上移动50% */
  transition: transform 0.5s ease-out; /* 在0.5秒内平滑移动 */
}
/* 文件缓慢恢复原样 */
.file-list{
  transition: transform 0.5s ease-out
}

/* 内部搜索框和图片分别div */
.side-image {
  width: 200px;
}

/* .image-container .search-container{
  width: 100%;
} */



h1 {
  font-family: 'Anton', sans-serif;
  font-size: 3em;
  color: #768dcb;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}


/* 搜索框样式 */
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 10px;
  width: 530px;
  margin: 0 auto;
  transition: width 0.5s;
  transition-delay: 0.2s;
  line-height: 1;
  border: 2px solid #465e65;
  margin-top: 20  px;
  border-radius: 30px;
}

.search-input {
  border: none;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  background-color: transparent;
  line-height: 1;
  outline: none;

}

.search-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 20px;
  margin-left: 10px;
  color: #007bff;
  line-height: 1;
  padding: 0;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button i {
  font-size: 24px;
  transition-duration: 0.1s;
}

.search-button i:hover {
  font-size: 28px;
}

 
.wrapper {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin-top: 50px;
}


/* 导航栏 */
#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #DBDFEA;
  padding: 20px 0;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

#navbar:hover {
  opacity: 1;
}

.nav-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.nav-button {
  text-decoration: none;
  color: #333;
  background-color: #AFD3E2;
  padding: 10px 20px;
  border-radius: 5px;
  transition: opacity 0.5s ease-in-out3s ease;
}

.nav-button:hover {
  opacity: 0.8;
}

.nav-button:active {
  background-color: #ddd;
  border: 1px solid #ccc;
  transition: ease-in-out3s ease;
}


.nav-button i {
  margin-right: 5px;
}


/* 加载动画 */

#loading-animation {
  margin-top: 20px;
  width: 8%;
  height: 8%;
}
 




/* 一下为文件列表以及其样式 */
.file-action, #new-btn {
  background-color: #ffffff; /* 默认背景颜色 */
  border: 1px solid #ccc;
  color: #333; /* 默认文字颜色 */
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s; /* 添加过渡动画 */
  border-radius: 4px; /* 添加圆角 */
}

.file-action i {
  margin-right: 5px;
}
/* 最后一个元素不设置margin */
.file-action:not(:last-child) {
  margin-right: 10px;
}

.file-action:hover, #new-btn:hover {
  background-color: #f1f1f1; /* 修改背景颜色 */
  color: #333;
  border: 1px solid #999;
}
.file-action:active, #new-btn:active {
  background-color: #ddd;
  border: 1px solid #999;
  box-shadow: 0 1px #666;
  transform: translateY(1px); /* 按钮向下移动1px */
}

section {
  padding: 20px;
  margin: 20px 0;
  background-color: transparent;
}
.file-icon {
margin-left: 20px;
margin-right:5px;
}
/* search-result下的按钮和样式 */
.search-result {
list-style-type: none;
padding: 0;
}




.file-item {
display: flex;
align-items: center;
padding: 16px;
border: 2px solid transparent;
/* width: 100%; */
transition: border-color 0.3s;
}

.file-item:hover {
border-color: rgba(0, 0, 0, 0.1);
}

.file-icon {
font-size: 48px;
margin-right: 16px;
}

.file-info {
flex-grow: 1;
}



.download, .share {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
  color: #555;
  padding: 0;
  display: flex;
  align-items: center;
}

.download i {
  font-size: 18px;
  margin-right: 5px;
  color: #007bff;
}

.share i {
  font-size: 18px;
  margin-right: 5px;
  color: #28a745;
}

/* 上传创建文件后的文件样式 */
ul#files {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul#files li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0
}

  
    

/* 分享面板样式 */
.share-panel {
opacity: 0;
transition: opacity 1s; /* 逐渐显现 */
position: absolute; /* 在分享按钮旁边显示 */
right: 50px; /* 调整为适合你的值 */
z-index: 1000; /* 覆盖其他内容 */
border: 1px solid #ccc; /* 添加边框 */
margin-bottom: 50px;

}

.share-panel.show {
opacity: 1;
}





  
