<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>My Cloud Storage</title>
  <link rel="stylesheet" href="../static/css/upload.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap"
    rel="stylesheet">
  <link rel="icon" href="../static/img/favicon.ico">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> -->

</head>

<body>
  <div id="navbar">
    <div class="nav-container">
      <a href="#" class="nav-button" id="searchButton"><i class="fa fa-search"></i>搜索</a>
      <a href="#" class="nav-button" id="onlineButton"><i class="fas fa-star"></i>在线授权管理</a>
      <a href="#" class="nav-button" id="offlineButton"><i class="fas fa-user"></i>离线授权管理</a>
    </div>
  </div>

  <div class="wrapper">
    <nav>
      <div class="header-container">
        <img src="../static/img/bird.svg" alt="Your image description" class="header-image">
        <h1>我已上传</h1>
      </div>


      <div class="right-menu">
        <div class="user-info">
          <!-- <img src="https://picsum.photos/40" alt="User Avatar" class="user-avatar"> -->
          <img src="../static/img/favicon-32x32.png" alt="User Avatar" class="user-avatar">
          <span class="user-name">{{ username }}</span>
        </div>
        <!-- 注销键，待优化还没添加功能 -->
        <button id="logout-button" class="action-button"><i class="fas fa-sign-out-alt"></i>注销</button>
      </div>

      <!-- 标题下部分 -->
      <div class="button-container">
        <div style="width: 50px;"></div>

        <div class="container">
          <label for="file-input" class="file-label">
            <i class="fas fa-upload"></i> 选择文件
          </label>
          <input type="file" id="file-input" class="file-input">

          <!-- 用来改变两个按钮之间的距离,避免修改class和id造成的连锁反应 -->
          <div style="width: 20px;"></div>
          <button id="new-btn" class="action-button"><i class="fas fa-file-alt"></i>新建</button>
          <div style="width: 20px;"></div>
          <button id="new-btn" class="action-button"><i class="fas fa-check-square"></i>全选</button>

          <div class="search-box">
            <input type="text" class="search-input" placeholder="搜索">
            <button class="search-button"><i class="fa fa-search"></i></button>
          </div>
        </div>

        <div class="sort-box">
          <label for="sort-select">排序方式：</label>
          <select id="sort-select" class="sort-select">
            <option value="name-asc">名称（升序）</option>
            <option value="name-desc">名称（降序）</option>
            <option value="size-asc">大小（升序）</option>
            <option value="size-desc">大小（降序）</option>
            <option value="date-asc">日期（升序）</option>
            <option value="date-desc">日期（降序）</option>
          </select>
        </div>
      </div>
    </nav>

    <hr>




    <!-- 一个文件显示样式 -->
    <main>
      <!-- //上半部分 -->

      <section id="file-list" class="content-section">

        <h2>File List</h2>
        <ul id="files" class="file-list">

          <!-- <li class="file-item">
            <div class="file-icon">
              <i class="fas fa-file-word"></i>
            </div>
            <div class="file-info">
              <span class="file-link">Document 1.docx</span>
            </div>
            <button id="new-btn" class="authorize file-action"><i class="fas fa-user-shield"></i></button>
            <button id='new-btn' class="delete file-action"><i class="fas fa-trash-alt"></i></button>
            <button id='new-btn' class="download file-action"><i class="fas fa-download"></i></button>
            <button id='new-btn' class="share file-action"><i class="fas fa-share"></i></button>
          </li>

          <li class="file-item">
            <div class="file-icon">
              <i class="fas fa-file-image"></i>
            </div>
            <div class="file-info">
              <span class="file-link">Image 1.jpg</span>
            </div>
            <button id="new-btn" class="authorize file-action"><i class="fas fa-user-shield"></i></button>
            <button id='new-btn' class="delete file-action"><i class="fas fa-trash-alt"></i></button>
            <button id='new-btn' class="download file-action"><i class="fas fa-download"></i></button>
            <button id='new-btn' class="share file-action"><i class="fas fa-share"></i></button>
          </li>

          <li class="file-item">
            <div class="file-icon">
              <i class="fas fa-file-audio"></i>
            </div>
            <div class="file-info">
              <span class="file-link">Music 1.mp3</span>
            </div>
            <button id="new-btn" class="authorize file-action"><i class="fas fa-user-shield"></i></button>
            <button id='new-btn' class="delete file-action"><i class="fas fa-trash-alt"></i></button>
            <button id='new-btn' class="download file-action"><i class="fas fa-download"></i></button>
            <button id='new-btn' class="share file-action"><i class="fas fa-share"></i></button>
          </li>

          <li class="file-item">
            <div class="file-icon">
              <i class="fas fa-file-alt"></i>
            </div>
            <div class="file-info">
              <span class="file-link">sgjw.md</span>
            </div>
            <button id="new-btn" class="authorize file-action"><i class="fas fa-user-shield"></i></button>
            <button id='new-btn' class="delete file-action"><i class="fas fa-trash-alt"></i></button>
            <button id='new-btn' class="download file-action"><i class="fas fa-download"></i></button>
            <button id='new-btn' class="share file-action"><i class="fas fa-share"></i></button>
          </li> -->

          {% for file_name in documents %}
          <li class="file-item">
            <div class="file-icon">
              <!-- 根据文件名后缀设置不同的图标 -->
              {% if file_name|slice:'-4:' == '.txt' %}
              <i class="fas fa-file-alt"></i>
              {% elif file_name|slice:'-3:' == '.md' %}
              <i class="fas fa-file-alt"></i>
              {% elif file_name|slice:'-4:' == '.pdf' %}
              <i class="fas fa-file-pdf"></i>
              {% else %}
              <i class="fas fa-file"></i>
              {% endif %}
            </div>
            <div class="file-info">
              <span class="file-link">{{ file_name }}</span>
            </div>
            <!-- 其他操作按钮 -->
            <button id="new-btn" class="authorize file-action"><i class="fas fa-user-shield"></i></button>
            <button id='new-btn' class="delete file-action"><i class="fas fa-trash-alt"></i></button>
            <button id='new-btn' class="download file-action"><i class="fas fa-download"></i></button>
            <button id='new-btn' class="share file-action"><i class="fas fa-share"></i></button>
          </li>
          {% endfor %}

        </ul>
      </section>
    </main>
  </div>



  <footer>
    <p>&copy; 2023 My Cloud Storage</p>
    <button id="scroll-to-top" class="scroll-top action-button"><i class="fas fa-arrow-up"></i></button>
  </footer>

  <script src="../static/js/upload.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <!-- <div id="copy-message" style="display: none;"></div>？ -->

</body>

</html>